/* Start Variables */
:root {
  --dark-color: #2b1812;
  --btn-color: #865439;
  --calm-color: #d7b19d;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2e1003;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--btn-color);
}
/* End Variables */
::selection {
  background-color: var(--btn-color);
  color: white;
}
body {
  font-family: "Roboto", sans-serif;
}
/* Start NavBar  */
.navbar {
  background-color: var(--dark-color);
  box-shadow: 0 1px 18px #0000004f;
}
.navbar .navbar-brand {
  color: var(--calm-color);
  font-size: 30px;
  font-weight: bold;
}
.navbar .navbar-nav .nav-link {
  color: white;
}
.navbar {
  position: sticky !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30000;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--calm-color);
}
.navbar .navbar-toggler {
  color: var(--calm-color);
  font-size: 25px;
  border-color: var(--calm-color);
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .search {
  border-left: 1px solid var(--calm-color);
}
.navbar .search svg {
  color: var(--calm-color);
}
/* End NavBar  */
/* Start Landing  */
.landing {
  position: relative;
  min-height: 100vh;
}
.landing::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.landing video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.landing .text-center {
  z-index: 3;
  position: relative;
}
@media (min-width: 1199px) {
  .landing .text-center {
    position: absolute;
    z-index: 3;
    animation: left-fade 1.5s backwards;
    animation-delay: 0.4s;
  }
  @keyframes left-fade {
    0% {
      transform: translateY(-200px) scale(0) rotate(45deg);
      transform-origin: left;
    }
    100% {
      transform: translateY(0) scale(1) rotate(0);
      transform-origin: left;
    }
  }
}
.landing .text-center .btn {
  background-color: var(--btn-color);
  border: 2px solid var(--btn-color);
  box-shadow: 0px 0px 12px var(--btn-color);
  transition: 0.3s;
}
.landing .text-center .btn:hover {
  letter-spacing: 2px;
}
.landing .text-center .btn:focus {
  box-shadow: 0px 0px 12px var(--btn-color);
}
/* End Landing  */
/* Start Services  */
.box-serv:not(:nth-child(2)) {
  transform: translateY(100px);
}
.main-title::after {
  content: "";
  width: 0;
  height: 4px;
  background-color: var(--btn-color);
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
}
.animation-title.main-title::after {
  animation: line-height 1s forwards;
}
@keyframes line-height {
  0% {
    width: 0;
    height: 4px;
  }
  100% {
    width: 192px;
    height: 4px;
  }
}
.services svg {
  color: var(--calm-color);
}
.services h4 {
  color: var(--btn-color);
}
.services .fade-serv {
  position: relative;
  top: 80px;
  opacity: 0;
  transition: 1s;
  transition-delay: calc(0.7s * var(--serv));
}
@media (max-width: 991px) {
  .box-serv {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 30px;
  }
  .services svg {
    margin: auto;
  }
  .box-serv:not(:nth-child(2)) {
    transform: translateY(0);
  }
}
/* End Services  */
/* Start Features */
.features {
  background-color: rgba(238, 238, 238, 0.39);
}
.features .active {
  background-color: var(--btn-color);
  color: white;
  border-radius: 5px;
}
.features ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.features ul li:not(.active):hover {
  color: var(--btn-color);
}
.features .box-img-feat {
  padding: 5px;
  overflow: hidden;
  transform: scale(0);
  transition: 0.3s;
  transition-delay: calc(0.5s * var(--i));
}
.features .box-img-feat img {
  width: 500px !important;
  height: 200px !important;
}
.features .box-img-feat::before {
  content: attr(data-img);
  position: absolute;
  background-color: #8654397a;
  width: calc(100% - 10px);
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  font-weight: bold;
  letter-spacing: 1.4px;
  transition: 0.4s;
  font-size: 1.5rem;
  top: 0;
}
.features .box-img-feat:hover::before {
  top: auto;
  bottom: 5px;
  height: calc(100% - 10px);
  color: white;
}
/* End Features */
/* Start About  */
.about {
  /* background-image: linear-gradient(
    to left,
    rgb(26, 20, 20) 49%,
    var(--dark-color) 51%
  ); */
  /* background-color: var(--calm-color); */
}
.about .main-title h2 {
  color: var(--dark-color);
}

.about .discription {
  max-width: 500px;

}
.about .box-card .cards {
  /* background-color: var(--btn-color); */
  margin: 30px;
  width: 300px;
  height: 300px;
  box-shadow: 0 5px 20px rgb(0 0 0 / 7%);
  transition: 0.8s;
  border-radius: 3px;
  transition-delay: calc(0.6s * var(--about-delay));
}

.about .box-card .cards .content svg {
  background-color: var(--calm-color);
  position: relative;
  z-index: 3;
  height: 20px;
  width: 20px;
}
.about .box-card .cards .content h3,
.about .box-card .cards .content p,
.about .box-card .cards .content h5 {
  color: var(--calm-color);
  position: relative;
  z-index: 3;
}
.about .box-card .cards .content p {
  font-size: 13px;
}
.about .box-card .cards span {
  transition: 0.5s;
  opacity: 0;
}
.about .box-card .cards:hover span {
  opacity: 1;
}
.about .box-card .cards span:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(to right, transparent, var(--calm-color));
  animation: animate1 2s infinite linear;
}
@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.about .box-card .cards span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent, var(--calm-color));
  animation: animate2 2s infinite linear;
  animation-delay: 1s;
}
@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.about .box-card .cards span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(to left, transparent, var(--calm-color));
  animation: animate3 2s infinite linear;
}
@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.about .box-card .cards span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-image: linear-gradient(to top, transparent, var(--calm-color));
  animation: animate4 2s infinite linear;
  animation-delay: 1s;
}
@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
/* Animation Cards  */
.about .cards:nth-child(1),
.about .cards:nth-child(4) {
  opacity: 0;
  right: 115px;
}
.about .cards:nth-child(2),
.about .cards:nth-child(5) {
  opacity: 0;
  top: 100px;
}
.about .cards:nth-child(3),
.about .cards:nth-child(6) {
  opacity: 0;
  left: 115px;
}
.about .fade-about.cards:nth-child(1),
.about .fade-about.cards:nth-child(4) {
  opacity: 1;
  right: 0;
}
.about .fade-about.cards:nth-child(2),
.about .fade-about.cards:nth-child(5) {
  opacity: 1;
  top: 0;
}
.about .fade-about.cards:nth-child(3),
.about .fade-about.cards:nth-child(6) {
  opacity: 1;
  left: 0;
}
/* End About  */
/* Start our Customers  */
.main-title-customer + p {
  max-width: 500px;
}
.carousel .carousel-item .discription {
  background-color: white;
  padding: 30px;
  border-radius: 25px;
  box-shadow: -2px 5px 12px 2px #00000028;
  position: relative;
  width: 390px;
}
.discription .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45%;
  background-color: var(--dark-color);
  border-radius: 25px 25px 0 25px;
}
.discription .overlay::after,
.discription .overlay::before {
  content: "";
  position: absolute;
  bottom: -40px;
  right: 0px;
  height: 40px;
  width: 40px;
  background-color: var(--dark-color);
  z-index: 444;
}
.discription .overlay::after {
  background-color: white;
  border-radius: 0 25px 0 0;
}
.carousel .carousel-item svg {
  font-size: 80px;
  background-color: white;
  position: relative;
  width: 60px;
  height: 60px;
}
.carousel-indicators li {
  background-color: black !important;
  border-radius: 50%;
  width: 12px !important;
  height: 12px !important;
}
.carousel-control-prev svg {
  font-size: 40px;
  color: black;
  position: relative;
  right: 120px;
}
.carousel-control-next svg {
  font-size: 40px;
  color: black;
  position: relative;
  left: 120px;
}
/* End our Customers  */
/* Start Contact Us  */
.contact {
  background-color: #eee;
}
.contact p {
  max-width: 550px;
  margin-bottom: 40px !important;
}
.contact form {
  max-width: 800px;
  margin: auto;
}
.contact form *:focus,
.contact form * {
  box-shadow: none;
  border: none;
  width: 100%;
}
.contact form textarea,
.contact form textarea:focus,
.contact form input:focus,
.contact form input {
  caret-color: var(--dark-color);
  border: 1px solid var(--dark-color);
  background-color: #eee;
  padding: 12px;
}
::placeholder {
  color: rgb(54, 54, 54) !important;
}
.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}
.contact form textarea {
  resize: none;
  height: 194px;
  margin-bottom: 15px;
}
.contact form button {
  border: 2px solid var(--dark-color);
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: var(--dark-color);
  padding: 10px 30px;
  transition: .3s;
}
.contact form button:hover {
  background-color: var(--dark-color);
  color: white;
  box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.3);
  border-top-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}
/* End Contact Us  */
/* Start Footer  */
footer {
  background-color: var(--dark-color);
}
footer .logo-foot {
  color: var(--calm-color);
}
footer .below-logo {
  max-width: 300px;
}
footer h4 {
  color: var(--calm-color);
  margin-bottom: 30px;
}
footer .links-li li {
  padding: 2px 0;
  transition: 0.3s;
  cursor: pointer;
}
footer .links-li li::before {
  content: "\f101";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  margin-right: 8px;
}
footer .links-li li:hover {
  padding: 2px 10px;
  color: white !important;
}
footer .social-icons li {
  font-size: 40px;
  margin: 30px;
  cursor: pointer;
  transition: 0.3s;
}
footer .social-icons li:hover:nth-child(1) {
  color: #1877f2;
}
footer .social-icons li:hover:nth-child(2) {
  color: #1da1f2;
}
footer .social-icons li:hover:nth-child(3) {
  color: #0a66c2;
}
/* End Footer  */
